* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    overflow-y: scroll;
}

.container {
    max-width: 1920px;
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 277px;
    background-color: #152259;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
}
.sidebar a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 277px;
    height: 77px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logo {
    margin-bottom: 50px;
    padding-left: 70px;
    padding-top: 15px;
    position: relative;
}

.logo img {
    width: 140px;
    height: 55px;
    align-items: center;
    position: relative;
}

.logo-line {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: white;
}

.sidebar-item {
    gap: 15px; /* Jarak antara gambar dan teks */
    display: flex;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 77px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.sidebar-item img {
    width: 24px; /* Ukuran gambar */
    margin-right: 15px;
}

.sidebar-item span {
    flex-grow: 1;
}

.sidebar-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.sidebar-item:hover {
    background-color: #4FAAFF;
}

.logout {
    margin-top: auto;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
    border-radius: 5px;
}

.logout:hover {
    background-color: #4FAAFF;
}

.logout img {
    margin-right: 10px;
}

.logout span {
    text-align: left;
}

.main-content {
    flex-grow: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-left: 277px;
}

.header {
    background-color: #19286A;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    position: fixed;
    width: calc(100vw - 277px);
    left: 277px;
    top: 0;
    z-index: 1000;
}

.header-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    font-weight: 600;
}

.menu-icon img {
    width: 24px;
    height: auto;
    cursor: pointer;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-right: 20px;
}

.notification-icon img,
.user-icon img {
    width: 18px;
    height: auto;
    cursor: pointer;
    margin-left: 0px;
}

.header-right span {
    margin-left: 20px;
}

.sub-header {
    background-color: #7681AF;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 35px;
    position: fixed;
    width: calc(100vw - 277px);
    left: 277px;
    top: 86px;
    z-index: 999;
}

.content {
    padding: 20px;
    margin-top: 121px;
}

.database-table input.search-bar {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.database-table {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.database-table table {
    width: 100%;
    border-collapse: collapse;
}

.database-table th,
.database-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.database-table th {
    background-color: #d3d3d3;
}

.pagination {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.pagination span {
    margin-right: 5px;
}

.pagination select {
    margin-right: 5px;
}

.user-review {
    background-color: #485AA7;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(240, 240, 240, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-icon {
    margin-left: 20px;
}

.review-header span {
    flex-grow: 1;
    margin-left: 30px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
}

.polygon-icon {
    margin-left: auto;
}

.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.chart {
    background-color: #ffffff;
    position: relative;
    height: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px; /* Membuat pojok lebih melengkung */
    padding: 25px; /* Padding di dalam container chart */
}


#correct-incorrect {
    grid-column: span 2;
    height: 400px;
}

#average-grades,
#average-scores {
    grid-column: span 2;
    height: 300px;
}

.chart h4 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: #171717;
}
