@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  transition: color 0.3s;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu li a:hover {
  color: #2196f3;
}

.menu li button {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  background-color: #f39c12;
  color: #070707;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu li img {
  height: 20px;
  border-radius: 50%;
}

.logo img {
  height: 40px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

.menu li img {
  height: 30px;
  border-radius: 50%;
}
/* MAIN */
main {
  width: 100%;
  height: max-content;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.question-container {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.question-container h3 {
  color: #333;
  font-size: 2rem;
  margin-top: 13px;
  margin-bottom: 20px;
  text-align: center;
}

.question-block {
  padding: 20px;
}

.question-block:last-child {
  border-bottom: none;
}

.question-block h4 {
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.question-block p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

.answer-box {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #007bff;
}

.answer-box strong {
  display: block;
  margin-bottom: 10px;
}

.evaluation-box {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluation-box strong {
  display: block;
  margin-bottom: 10px;
}

.evaluation-box p {
  margin: 0;
}

.evaluation-box .arrow {
  font-size: 1.5rem;
  color: #007bff;
}
.question-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(768%); /* Vertically center */
  z-index: 1000;
}

.question-navigation button {
  background-color: #003f7f;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s, color 0.3s;
}

.question-navigation button:hover {
  background-color: #0056b3;
}

.question-navigation button:focus,
.question-navigation button:active {
  background-color: #000;
  color: #fff;
}

/* Back Button */
.back-button {
  font-size: 30px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 20px;
  transition: color 0.3s;
  position: fixed;
}

.back-button a {
  color: #0056b3;
}

.back-button a {
  text-decoration: none;
  color: inherit;
}

.back-button:hover {
  color: #003f7f;
}

@media (min-width: 1920px) {
  .navbar {
    height: 100px;
    padding: 0 30px;
  }

  .logo img {
    height: 60px;
  }

  .menu li a {
    font-size: 1.2vw;
  }

  .menu li button {
    height: 30px;
    padding: 0 13.33px;
    font-size: 0.8rem;
  }

  .menu li img {
    height: 3.5vw;
  }

  .header {
    padding: 13.33px;
  }

  .back-button {
    margin-top: 90px;
    margin-left: 100px;
  }

  .back-button a {
    font-size: 3vw;
  }

  .question-container {
    width: calc(100% - 200px);
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .question-container h3 {
    font-size: 3.8rem;
  }

  .question-block h4 {
    font-size: 2.4rem;
  }

  .question-container strong {
    font-size: 2rem;
  }

  .question-block p {
    font-size: 1.7rem;
  }

  .answer-box {
    padding: 40px;
  }

  .evaluation-box {
    padding: 40px;
  }

  .question-navigation button {
    width: 70px;
    height: 70px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
    padding: 0 10px;
  }

  .logo img {
    height: 30px;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 999;
  }

  .menu li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .menu li a {
    padding: 10px 0;
    display: block;
  }

  .menu.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .question-container {
    padding: 10px;
  }

  .question-container h3 {
    font-size: 1.5rem;
  }

  .question-block {
    padding: 10px;
  }

  .question-block h4 {
    font-size: 1.2rem;
  }

  .question-block p {
    font-size: 0.8rem;
  }

  .answer-box {
    padding: 10px;
  }

  .evaluation-box {
    padding: 10px;
  }

  .question-navigation button {
    width: 30px;
    height: 30px;
  }

  .question-navigation {
    align-items: center;
  }
}
