body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: black;
}

.menu li button {
  padding: 4px 10px;
  background-color: #ffc107;
  color: #070707;
  text-decoration: none;
  border-radius: 7px;
}

.logo img {
  height: 40px;
}

/* LOGIN DAN REGISTER */
.form h2,
a,
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.login-page {
  width: 800px;
  padding: 20px;
  margin-top: 80px;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}

.register-container {
  display: flex;
  justify-content: space-between;
}

.form input {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
}

.form .login-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ffb600;
}

.form .admin-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #2196f3;
  margin: 15px 0 0 0;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #2196f3;
  text-decoration: none;
}

.form .register-form {
  display: none;
}

.register-container {
  width: 100%;
}

.payment {
  width: 45%;
  background: #dceeff;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.payment h3 {
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.payment p {
  font-size: 20px;
  color: #007bff;
}

.payment label {
  display: absolute;
  align-items: left;
  margin-bottom: 10px;
  font-size: 15px;
}

.payment input[type="radio"] {
  margin-bottom: 5px;
  float: left;
}

.payment button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #ffc107;
  color: #070707;
  border-radius: 7px;
}

.vertical-divider {
  width: 1px;
  background-color: #d3d3d3;
  margin: 0 20px;
}

.registrasi {
  width: 45%;
  text-align: left;
}

.registrasi h2 {
  font-size: 24px;
}

.registrasi input {
  margin-bottom: 10px;
}

.registrasi button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #2196f3;
}
