@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s ease;
}

.menu li a:hover {
  color: black;
  transform: translateY(-10px);
}

.menu li button {
  width: 80px;
  height: 30px;
  background-color: #f39c12;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  padding: 5px;
  color: #ffffff;
  font-weight: 1000;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.menu li img {
  height: 30px;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
  }

  .menu li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .menu li a {
    padding: 10px 0;
    display: block;
  }

  .menu-toggle {
    display: flex;
  }

  .menu.active {
    display: flex;
  }
}
/* END NAVBAR */

/* PARING */
.container {
  text-align: center;
  padding: 80px 20px 20px;
  width: 100%;
  max-width: 800px;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

.leaderboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between buttons */
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e7f1ff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.leaderboard-item:hover {
  background-color: #cfe0ff;
}

.rank,
.username,
.stars,
.score {
  flex: 1;
  text-align: center;
}

.username {
  font-weight: bold;
}

.stars {
  color: #ffc107;
  font-weight: bold;
}
/* END PARING */

/* Back Button */
.back-button {
  font-size: 30px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 20px;
  transition: color 0.3s;
}

.back-button a {
  text-decoration: none;
  color: inherit;
}

.back-button:hover {
  color: #003f7f;
}
/* end back button */

/* Navbar Responsif */
@media (max-width: 768px) {
  .navbar {
    height: 50px; /* Menyesuaikan tinggi navbar untuk layar besar */
    padding: 0 30px;
  }

  .logo img {
    height: 30px; /* Menyesuaikan tinggi logo untuk layar besar */
  }

  .menu li a {
    font-size: 1.6vw; /* Menyesuaikan ukuran font untuk layar besar */
  }

  .menu li button {
    height: 30px;
    padding: 0 13.33px;
    font-size: 0.8rem;
  }

  .menu li img {
    height: 3.5vw;
  }

  .header {
    padding: 13.33px;
  }

  .back-button {
    margin-top: 1px;
    margin-left: 1px;
  }

  .back-button a {
    font-size: 3vw;
  }

  .container {
    padding: 20px 10px 10px;
    max-width: 100vh;
    width: 100vh;
    margin-top: 30px;
  }

  .container h1 {
    margin-top: 60px;
    font-size: 1.5rem;
  }

  .leaderboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Jarak antar item leaderboard */
    justify-content: center;
  }

  .leaderboard-item {
    padding: 10px 15px; /* Padding untuk responsivitas */
    width: 100%;
    max-width: 70vw; /* Maksimum lebar leaderboard */
    font-size: 1.2rem;
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar elemen */
  }
}
@media (min-width: 1920px) {
  .navbar {
    height: 100px;
    padding: 0 30px;
  }

  .logo img {
    height: 60px;
  }

  .menu li a {
    font-size: 1.2vw;
  }

  .menu li button {
    height: 30px;
    padding: 0 13.33px;
    font-size: 0.8rem;
  }

  .menu li img {
    height: 3.5vw;
  }

  .header {
    padding: 13.33px;
  }

  .back-button {
    margin-top: 90px;
    margin-left: 100px;
  }

  .back-button a {
    font-size: 3vw;
  }

  .container {
    padding: 80px 20px 20px;
    max-width: 150vh;
    width: 100%;
    margin: 0 auto;
  }

  .container h1 {
    margin-top: 120px;
    font-size: 4rem;
  }

  .leaderboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .leaderboard-item {
    padding: 15px 20px;
    width: calc(100% - 40px); /* Sesuaikan lebar item dengan mengurangi gap */
    max-width: 120vh;
    box-sizing: border-box; /* Pastikan padding tidak menambah lebar elemen */
    font-size: 1.7rem;
  }
}
