@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 10px 0 0;
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
  font-size: 1.2vw;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #276dd8;
}

.menu li img {
  height: 30px;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}
/* end navbar */

/* PEMBAYARAN */
.container {
  background-color: white;
  width: 700px; /* Make the container wider */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 60px;
}

h1 {
  font-size: 36px;
  margin: 0 0 40px 0;
}

.payment-box {
  background-color: #e0f0ff;
  border-radius: 10px;
  padding: 20px;
}

.package {
  background-color: #b3d4fc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.package p {
  margin: 0;
  font-size: 20px;
  color: #555;
}

.price {
  background-color: #9abfe3;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 18px;
  color: #fff;
}

.payment-method {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.payment-method label {
  background-color: #b3d4fc;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.payment-method input {
  margin-right: 10px;
}

.confirm-button {
  background-color: #ffa500;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.confirm-button:hover {
  background-color: #e69500;
}

/* Back Button */
.back-button {
  font-size: 30px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 20px;
  transition: color 0.3s;
}

.back-button a {
  text-decoration: none;
  color: inherit;
}

.back-button:hover {
  color: #003f7f;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    height: 50px; /* Menyesuaikan tinggi navbar untuk layar besar */
    padding: 0 30px;
  }

  .logo img {
    height: 30px; /* Menyesuaikan tinggi logo untuk layar besar */
  }

  .menu li a {
    font-size: 1.6vw; /* Menyesuaikan ukuran font untuk layar besar */
  }

  .menu li button {
    height: 30px;
    padding: 0 13.33px;
    font-size: 0.8rem;
  }

  .menu li img {
    height: 3.5vw;
  }

  .header {
    padding: 13.33px;
  }

  .back-button {
    margin-top: 1px;
    margin-left: 1px;
  }

  .back-button a {
    font-size: 3vw;
  }
  .container {
    width: 90vw; /* Menyesuaikan lebar container untuk layar kecil */
    padding: 10px; /* Mengurangi padding untuk layar kecil */
    margin-top: 20px; /* Mengurangi margin atas untuk layar kecil */
  }

  h1 {
    font-size: 18px; /* Mengurangi ukuran font untuk layar kecil */
    margin: 0 0 10px 0; /* Mengurangi margin bawah untuk layar kecil */
  }

  .payment-box {
    padding: 10px; /* Mengurangi padding untuk layar kecil */
  }

  .package p {
    font-size: 14px; /* Menyesuaikan ukuran font untuk layar kecil */
  }

  .price {
    font-size: 12px; /* Menyesuaikan ukuran font untuk layar kecil */
  }

  .confirm-button {
    font-size: 12px; /* Menyesuaikan ukuran font untuk layar kecil */
  }

  .payment-method label {
    font-size: 12px; /* Mengurangi ukuran font untuk layar kecil */
    padding: 5px; /* Mengurangi padding untuk layar kecil */
  }

  .back-button {
    top: 70px; /* Menyesuaikan posisi tombol kembali untuk layar kecil */
    left: 10px; /* Menyesuaikan posisi tombol kembali untuk layar kecil */
  }
}

@media (min-width: 1920px) {
  .navbar {
    height: 100px;
    padding: 0 30px;
  }

  .logo img {
    height: 60px;
  }

  .menu li a {
    font-size: 1.2vw;
  }

  .menu li button {
    height: 30px;
    padding: 0 13.33px;
    font-size: 0.8rem;
  }

  .menu li img {
    height: 3.5vw;
  }

  .header {
    padding: 13.33px;
  }

  .back-button {
    margin-top: 80px;
    margin-left: 100px;
  }

  .back-button a {
    font-size: 3vw;
  }

  .back-button a {
    font-size: 3vw;
  }

  .container {
    width: 100vh; /* Menyesuaikan lebar container untuk layar besar */
    padding: 40px; /* Menambahkan padding untuk layar besar */
    margin-top: 60px; /* Menambah margin atas untuk layar besar */
    height: 60vh;
  }

  h1 {
    font-size: 48px; /* Menambah ukuran font untuk layar besar */
    margin: 0 0 60px 0; /* Menambah margin bawah untuk layar besar */
  }

  .payment-box {
    padding: 30px; /* Menambah padding untuk layar besar */
    width: 95vh;
    height: 42vh;
  }

  .payment-method {
    height: max-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .payment-method label {
    font-size: 1.5rem;
    padding: 15px;
  }

  .package p {
    font-size: 30px; /* Menambah ukuran font untuk layar besar */
  }

  .price {
    font-size: 30px; /* Menambah ukuran font untuk layar besar */
  }

  .confirm-button {
    font-size: 35px; /* Menambah ukuran font untuk layar besar */
  }

  .back-button {
    top: 120px; /* Menyesuaikan posisi tombol kembali untuk layar besar */
    left: 30px; /* Menyesuaikan posisi tombol kembali untuk layar besar */
  }
}
