@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu {
  margin-left: auto;
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 15px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: black;
}

.menu li img {
  height: 30px;
  border-radius: 50%;
}

.user-icon {
  margin-top: 15px;
}

.logo img {
  height: 40px;
}

.container {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 1500px;
  margin-top: 80px;
  background: none;
  height: calc(100vh - 100px); /* Adjust based on navbar and margin */
}

.back-button {
  font-size: 30px;
  padding: 5px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 20px;
  transition: color 0.3s;
}

.back-button a {
  text-decoration: none;
  color: inherit;
}

.back-button:hover {
  color: #003f7f;
}

h1 {
  margin-bottom: 30px;
}

.year-buttons {
  margin-bottom: 30px;
}

.year-buttons .year-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.year-buttons .year-button.active {
  background-color: #0056b3;
}

.courses {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.course-button {
  background-color: #afcfff;
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.course-button img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.course-button span {
  display: block;
  font-size: 16px;
  color: #333;
}

/* Back Button */
.back-button {
  font-size: 30px;
  padding: 10px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  left: 20px;
  transition: color 0.3s;
}

.back-button a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

.back-button:hover {
  color: #003f7f;
}
