* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  width: 90%;
  height: 80vh; /* Reduced height from 90% to 85vh */
  background-color: #f2f7ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 110px auto 0px; /* Adjusting margin to account for fixed navbar */
  overflow-y: auto;
  justify-content: flex-start;
}

.back-button {
  font-size: 30px;
  padding: 5px 30px;
  cursor: pointer;
  background-color: transparent;
  color: #0056b3;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  left: 8px;
  transition: color 0.3s;
}

.back-button a {
  text-decoration: none;
  color: inherit;
}

.profile {
  width: 100%;
  height: auto;
  width: 380px;
  height: 60vh;
  background-color: #cfe4ff;
  margin-left: 25px;
  padding: 30px 20px;
  margin-top: 20px;
  top: 70px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

.profile-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0px; /* Kurangi margin-bottom */
}

.profile-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  justify-content: center;
}

.user-name {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.profile table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 0;
  text-align: left;
  border-collapse: collapse; /* Menghapus jarak antara sel */
}

.profile td {
  padding: 10px 0;
}

.profile td:first-child {
  text-align: left; /* Rata kiri untuk kolom pertama */
}

.profile td:last-child {
  text-align: right; /* Rata kanan untuk kolom kedua */
}

.profile tr {
  display: flex;
  justify-content: space-between; /* Membagi ruang antara kolom kiri dan kanan */
  border-bottom: 1px solid #ddd; /* Garis bawah untuk tiap baris */
}

.profile tr:last-child {
  border-bottom: none; /* Hapus garis bawah untuk baris terakhir */
}

.button-icon {
  width: 25px;
  height: 20px;
  margin-left: 3px;
  margin-right: 5px;
  padding-left: 3px;
}
.logout-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: auto; /* Tambahkan jarak atas yang sesuai */
}

.logout-button {
  width: 120px;
  height: 40px;
  background-color: #f0a500;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-icon-logout {
  width: 20px;
  height: 25px;
  margin-left: -30px;
  margin-right: 10px;
  padding-left: 3px;
}

.icon-email {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.main-content {
  width: 75%;
  padding: 30px;
  overflow-y: auto; /* Added for scrolling */
}

.main-content h1 {
  font-size: 28px;
  margin-top: -5px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.chart {
  width: 100%;
  height: 480px;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* NAVBAR */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
  font-size: 1.2vw;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #276dd8;
}

.menu li img {
  height: 30px;
  border-radius: 50%;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
  }

  .menu li {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }

  .menu li a {
    padding: 10px 0;
    display: block;
  }

  .menu-toggle {
    display: flex;
  }

  .menu.active {
    display: flex;
  }
}


