body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blur;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6); /* Adjust opacity as needed */
  backdrop-filter: blur(10px); /* Mengatur kekuatan blur */
  z-index: -1; /* Menempatkan elemen blur di belakang konten */
}

.background-blur {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6); /* Adjust opacity as needed */
  z-index: 100;
}

.alert-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  /* z-index: 100; */
}

.confirm-icon {
  width: 250px;
}

.message {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

.next-button {
  width: 100%;
  background-color: #0089d6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #0089d6;
}
